<%= render 'layouts/header' %>
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
            <a class="navbar-brand" href="<%= root_path %>"><span class="fw-bolder text-primary">Gossips</span></a>
                <%= render 'layouts/navbar' %>
            </div>
        </nav>

        <div class="container px-5 my-5">
            <h1 class="display-3 fw-bolder mb-5">Edit Comment</h1>
            
            <%= form_for([@gossip, @comment]) do |f| %>
                <div class="form-group">
                    <%= f.label :content, "Edit your comment" %>
                    <%= f.text_area :content, class: 'form-control' %>
                </div>
                <%= f.submit "Update Comment", class: 'btn btn-primary mt-4' %>
            <% end %>
        </div>
    </main>
<%= render 'layouts/footer' %>
